<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <h3 class="ng-star-inserted">Options</h3>
        </div>
        <div class="p-toolbar-group-end">
            <button pButton pRipple label="Add" class="p-button-success" icon="pi pi-plus" (click)="showModal()"></button>
        </div>
    </p-toolbar>
</div>

<p-table
    [value]="options"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
>
    <ng-template pTemplate="header">
        <tr>
            <th >Label</th>
            <th >Is Exclusive</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{ item.label }}</td>
            <td>{{ item.isExclusive }}</td>
            <td>
                <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success " (click)="openUpdateModal(item.id)"></p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger " (click)="confirm1(item.id)"></p-button> 
            </td>
        </tr>
    </ng-template>
    
</p-table>
<!-- Add Modal -->
<p-dialog header="Option" [(visible)]="visible" [style]="{width: '30vw'}">
    <form [formGroup]="addForm">
        <div class="form-group">
            <label for="Label">Label</label>
            <input type="text" formControlName="label" name="label" id="label" class="form-control rounded-left"
                placeholder=""
            >
            <div class="text-danger error-message">
                <small  *ngIf="addForm.controls['label'].errors?.required && isSubmit">Please enter label.</small>
            </div>
        </div>
        <div class="w-50 mb-2">
            <input type="checkbox" formControlName="isExclusive" checked="">&nbsp;
            <label class="checkbox-wrap checkbox-primary" for="isExclusive">Is Exclusive
            </label>
        </div>
        <div class="justify-content-center">
            <button type="submit" class=" btn btn-primary  submit px-3" (click)="addOption()">Add</button>
        </div>
    </form>
</p-dialog>
<!-- Update Modal -->
<p-dialog header="Option" [(visible)]="isVisible" [style]="{width: '30vw'}">
    <form [formGroup]="updateForm">
        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" formControlName="label" name="label" id="label" class="form-control rounded-left"
                placeholder=""
            >
            <div class="text-danger error-message">
                <small  *ngIf="updateForm.controls['label'].errors?.required && isSubmit">Please enter label.</small>
            </div>
        </div>
        <div class="w-50 mb-2">
            <input type="checkbox" formControlName="isExclusive" checked="">&nbsp;
            <label class="checkbox-wrap checkbox-primary" for="isExclusive">Is Exclusive
            </label>
        </div>
        <div class="justify-content-center">
            <button type="submit" class=" btn btn-primary  submit px-3" (click)="updateOption()">Save</button>
        </div>
    </form>
</p-dialog>
<!-- Delete PopUp -->
<div class="card flex justify-content-center">
    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <h3>Header Content</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
</div>

<p-toast></p-toast>