<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <h3 id="optHeader" class="ng-star-inserted"><span class="fa-solid fa-clipboard-list"></span> Options</h3>
        </div>
        <div class="p-toolbar-group-end">
            <button id="addBtn" pButton pRipple label="Add" class="p-button-success" icon="pi pi-plus" (click)="showModal()"></button>
        </div>
    </p-toolbar>
</div>

<p-table
    [value]="options"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
    [rowsPerPageOptions]="[10, 25, 50]"
>
    <ng-template pTemplate="header">
        <tr id="tblHeader">
            <th >Label</th>
            <th >Is Exclusive</th>
            <th>Action</th>
        </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr >
            <td>{{ item.label }}</td>
            <td>{{ item.isExclusive }}</td>
            <td>
                <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success " (click)="openUpdateModal(item.id)"></p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger " (click)="confirm1(item.id)"></p-button> 
            </td>
        </tr>  
    </ng-template>
    <h5 style="text-align: center;"  *ngif="!showData">No Record Found</h5>
    
</p-table>
<!-- Add Modal -->
<p-dialog header="Option" [(visible)]="visible" [style]="{width: '30vw'}" [modal]="true">
    <form [formGroup]="addForm">
        <div class="form-group">
            <label for="Label">Label</label>
            <input type="text" formControlName="label" name="label" id="label" class="form-control rounded-left"
                placeholder=""
            >
            <div class="text-danger error-message">
                <small  *ngIf="addForm.controls['label'].errors?.required && isSubmit">Please enter label.</small>
            </div>
        </div>
        <div class="w-50 mb-2">
            <input type="checkbox" formControlName="isExclusive" checked="">&nbsp;
            <label class="checkbox-wrap checkbox-primary" for="isExclusive">Is Exclusive
            </label>
        </div>
        <div class="justify-content-center">
            <button type="submit" class=" btn btn-primary  submit px-3" (click)="addOption()">Add</button>
        </div>
    </form>
</p-dialog>
<!-- Update Modal -->
<p-dialog header="Option" [(visible)]="isVisible" [style]="{width: '30vw'}" [modal]="true">
    <form [formGroup]="updateForm">
        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" formControlName="label" name="label" id="label" class="form-control rounded-left"
                placeholder=""
            >
            <div class="text-danger error-message">
                <small  *ngIf="updateForm.controls['label'].errors?.required && isSubmit">Please enter label.</small>
            </div>
        </div>
        <div class="w-50 mb-2">
            <input type="checkbox" formControlName="isExclusive" checked="">&nbsp;
            <label class="checkbox-wrap checkbox-primary" for="isExclusive">Is Exclusive
            </label>
        </div>
        <div class="justify-content-center">
            <button type="submit" class=" btn btn-primary  submit px-3" (click)="updateOption()">Save</button>
        </div>
    </form>
</p-dialog>
<!-- Delete PopUp -->
<p-dialog  [(visible)]="isDelete"  [modal]="true" [draggable]="false" [style]="{width: '20vw'}">
    <p style="font-size: large;font-weight: 700;">Delete-Option</p>
    <div>
        <p style="padding-top: 5px;">Do you want to Delete the Option?</p>
        <div class="resetBtn" style="display: flex;flex-direction: row-reverse;font-family: serif;padding-top: 10px;">
            <p-button label="Cancel" styleClass="p-button-danger"  (click)="cancel()"></p-button>&nbsp;
            <p-button label="Delete" styleClass="p-button-warning"   (click)="deleteOption()"></p-button>
        </div>
    </div>
</p-dialog>
<p-toast></p-toast>