 <section class="sto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <h3 class="text-center mb-4 text-black-50">ChangePassword</h3>
                    <form class="login-form" [formGroup]="changePassword">

                        <div class="form-group ">
                            <input type="password" formControlName="currentPassword" name="currentPassword"
                                id="currentPassword" class="form-control rounded-left" placeholder="CurrentPassword">
                            <small class="text-danger" *ngIf="changePassword.controls['currentPassword'].errors?.required && isSubmitted">
                                Please enter the current password
                            </small>
                        </div>
                        <div class="form-group ">
                            <input type="password" formControlName="newPassword" name="newPassword" id="newPassword"
                                class="form-control rounded-left" placeholder="NewPassword">
                            <div class="text-danger">
                                <small *ngIf="changePassword.controls['newPassword'].errors?.required && isSubmitted">
                                    Please enter the new password
                                </small>
                                <small *ngIf="changePassword.controls['newPassword'].errors?.minLength && isSubmitted">
                                    Password length must be atleast 8.
                                </small>
                                <small *ngIf="changePassword.controls['newPassword'].errors?.pattern && isSubmitted">
                                    Password must contains alphanumeric and atleast one special character.
                                </small>
                            </div>
                        </div>
                        <div class="form-group ">
                            <input type="password" formControlName="confirmPassword" name="confirmPassword"
                                id="confirmPassword" class="form-control rounded-left" placeholder="confirmPassword">
                                <div class="text-danger">
                                    <small *ngIf="changePassword.controls['confirmPassword'].errors?.required && isSubmitted">
                                        Please enter confirm password.
                                    </small>
                                    <small *ngIf="changePassword.controls['newPassword'].errors?.minLength && isSubmitted">
                                        Password length must be atleast 8.
                                    </small>
                                    <small *ngIf="changePassword.controls['newPassword'].errors?.pattern && isSubmitted">
                                        Password must contains alphanumeric and atleast one special character.
                                    </small>
                                    <small *ngIf="!changePassword.controls['confirmPassword'].errors?.required && isSubmitted && changePassword.controls['confirmPassword'].value != changePassword.controls['newPassword'].value ">
                                        New-password and confirm-password did not match.
                                    </small>
                                  </div>
                        </div>

                        <div class="form-group">
                            <input type="text" formControlName="email" name="email" id="email"
                                class="form-control rounded-left" placeholder="Email">
                                <div class="text-danger error-message">
                                    <small  *ngIf="changePassword.controls['email'].errors?.required && isSubmitted">Please enter email.</small>
                                    <small  *ngIf="changePassword.controls['email'].errors?.pattern && isSubmitted">Please enter a valid email.</small>
                                  </div>
                        </div>
                        <div class="form-group">
                            <button type="submit"
                                class="form-control btn btn-primary rounded submit px-3" (click)="ChangePassword()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><p-toast></p-toast>
    </div>
</section> 
