<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <h3 id="userHeader" class="ng-star-inserted"><i class="pi pi-users fa-lg"></i> User Details</h3>
        </div>
        
    </p-toolbar>
</div>
<p-table [value]="allUsersInfo" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
        <tr id="tblHeader">
            <th >Name</th>
            <th >Email</th>
            <th >Age</th>
            <th >Height</th>
            <th >Weight</th>
            <th >Gender</th>
            <th >Target Weight</th>
            <th >Calories</th>
            <th >Plan Amount</th>
            <th >Water Intake</th>
            <th >BMI</th>
            <th >MealPlan Subscription Id</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{ item.user.firstName }} {{item.user.lastName}}</td>
            <td>{{ item.user.email }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.height }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.targetWeight }}</td>
            <td>{{ item.calories }}</td>
            <td>{{ item.planAmount }}</td>
            <td>{{ item.waterIntake }}</td>
            <td>{{ item.userBMI }}</td>
            <td>{{ item.mealPlanSubscriptionId}}</td>
        </tr>
    </ng-template>
</p-table>