<section class="sto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <h3 class="text-center mb-4 text-black-50">Reset Password</h3>
                    <form  class="login-form" [formGroup]="updatePasswordForm">
                        <div class="form-group">
                            <input type="text" formControlName="password" name="password" id="password"
                                class="form-control rounded-left" placeholder="Password">
                            <small class="text-danger"
                                *ngIf="updatePasswordForm.controls['password'].errors?.required && isSubmitted">
                                Please enter the new password
                            </small>
                        </div>
                        <div class="form-group ">
                            <input type="password" formControlName="confirmPassword" class="form-control rounded-left"
                                placeholder="ConfirmPassword">

                          <div class="text-danger">
                            <small *ngIf="updatePasswordForm.controls['confirmPassword'].errors?.required && isSubmitted">
                                Please enter confirm password.
                            </small>
                            <small *ngIf="!updatePasswordForm.controls['confirmPassword'].errors?.required && isSubmitted && updatePasswordForm.controls['confirmPassword'].value != updatePasswordForm.controls['password'].value ">
                                Password and confirm password did not match.
                            </small>
                          </div>
                        </div>
                        
                            <input type="hidden" formControlName="passwordResetToken">
                        
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                (click)=" SetPassword()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast></p-toast>