<section class="sto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <h3 class="text-center mb-4 header-color">Reset Password</h3>
                    <form  class="login-form" [formGroup]="updatePasswordForm">
                        <div class="form-group">
                            <input type="text" #passwordInput1 formControlName="password" name="password" id="password"
                                class="form-control rounded-left" placeholder="Password">
                                <span class="eye_button_style passwordEye"  (click)="passwordInput1.type = passwordInput1.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onPasswordShow1()" *ngIf="!isPasswordVisible1"></i><i class="fa fa-eye" (click)="onPasswordHide1()" *ngIf="isPasswordVisible1"></i></span>
                            <small class="text-danger"
                                *ngIf="updatePasswordForm.controls['password'].errors?.required && isSubmitted">
                                Please enter the new password.
                            </small>
                        </div>
                        <div class="form-group ">
                            <input type="password" #passwordInput2 formControlName="confirmPassword" class="form-control rounded-left"
                                placeholder="ConfirmPassword">
                            <span class="eye_button_style passwordEye"  (click)="passwordInput2.type = passwordInput2.type === 'password' ? 'text' : 'password'"><i class="fa fa-eye-slash" (click)="onPasswordShow()" *ngIf="!isPasswordVisible"></i><i class="fa fa-eye" (click)="onPasswordHide()" *ngIf="isPasswordVisible"></i></span>
                          <div class="text-danger">
                            <small *ngIf="updatePasswordForm.controls['confirmPassword'].errors?.required && isSubmitted">
                                Please enter confirm password.
                            </small>
                            <small *ngIf="!updatePasswordForm.controls['confirmPassword'].errors?.required && isSubmitted && updatePasswordForm.controls['confirmPassword'].value != updatePasswordForm.controls['password'].value ">
                                Password and confirm password did not match.
                            </small>
                          </div>
                        </div>
                        
                            <input type="hidden" formControlName="passwordResetToken">
                        
                        <div class="form-group">
                            <button id="saveBtn" type="submit" class="form-control btn rounded submit px-3"
                                (click)=" SetPassword()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast></p-toast>