.form-group{
    margin-bottom: 1rem;
}
.login-wrap{
    background-color: whitesmoke;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 1);
    border-radius: 15px;
}
.form-control{
    border-radius: 10PX;
}
.sto{
    padding: 7em 0;
}
.form-control{
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn.btn-primary{
    background: #1089ff !important;
    border: 1px solid #1089ff !important;
    border-radius: 15px!important;
    color: #fff !important;
}
#ds a{
    text-decoration: none;
}