#dietHeader, #tblHeader th{
    color: #004c63;
}

#addBtn{
    background-color: #4da04d;
    color: #fff;
    border: none;
}
#addBtn:hover{
    background-color: #3b863b;
    color: #fff;
    border: none;
}