<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <h3 class="ng-star-inserted">Questions</h3>
        </div>
        <div class="p-toolbar-group-end">
            <button pButton pRipple label="Add" class="p-button-success" icon="pi pi-plus" (click)="showModal()"></button>
        </div>
    </p-toolbar>
</div>
<p-table [value]="question" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template pTemplate="header">
        <tr>
            <th >Label</th>
            <th >Isprimary</th>
            <th >Createdon</th>
            <th >Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{ item.label }}</td>
            <td>{{ item.isPrimary }}</td>
            <td>{{ item.createdOn }}</td>
            <td>
                <!-- <a role="button" ><i class="pi pi-pencil text-black-50"
                        style="font-size: 1.5rem;" (click)="openUpdateModal(item.id)"></i></a>&nbsp;
                    
                <a role="button" (click)="confirm($event,item.id)"><i class="pi pi-trash text-black-50"
                        style="font-size: 1.5rem"></i></a> -->
                    <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success " (click)="openUpdateModal(item.id)"></p-button>
                    <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger "  (click)="confirm(item.id)"></p-button> 
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
    <p-confirmPopup></p-confirmPopup>
</p-table>

<!-- Add Modal -->
<p-dialog header="Question" [(visible)]="visible"  [modal]="true"  [draggable]="false" [style]="{width: '30vw'}">
    <form  [formGroup]="addForm" >
        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" formControlName="label" name="label" id="label" class="form-control rounded-left"
                placeholder="Enter Label">
                <div class="text-danger error-message">
                    <small  *ngIf="addForm.controls['label'].errors?.required && isSubmit">Please enter question.</small>
                </div>
        </div>
        <div class="w-50 mb-2">
            <input type="checkbox" formControlName="isPrimary" checked="">&nbsp;
            <label class="checkbox-wrap checkbox-primary" for="isPrimary">IsPrimary
            </label>
        </div>
        <div class="justify-content-center">
            <button type="submit" class=" btn btn-primary  submit px-3" (click)="addQuestion()">Save</button>
        </div>
    </form>
</p-dialog> 

<!-- Edit Modal  -->
<p-dialog header="Question" [(visible)]="isVisible"  [modal]="true"  [draggable]="false" [style]="{width: '30vw'}">
    <form  [formGroup]="updateForm">
        <div class="form-group">
            <label for="label">Label</label>
            <input type="text" formControlName="label" name="label" id="label" class="form-control rounded-left"
                placeholder="Enter Label"
            >
            <div class="text-danger error-message">
                <small  *ngIf="updateForm.controls['label'].errors?.required && isSubmit">Please enter email.</small>
            </div>
        </div>
        <div class="w-50 mb-2">
            <input type="checkbox" formControlName="isPrimary">&nbsp;
            <label class="checkbox-wrap checkbox-primary" for="isPrimary">IsPrimary
            </label>
        </div>
        <div class="justify-content-center">
            <button type="submit" class=" btn btn-primary  submit px-3" (click)="updateQuestion()">Save</button>
        </div>
    </form>
</p-dialog> 
<!-- DeleteModal -->
<p-dialog  [(visible)]="isDelete"  [modal]="true" [draggable]="false" [style]="{width: '20vw'}">
    <p style="font-size: large;font-weight: 700;">Delete-Question</p>
    <div>
        <p style="padding-top: 5px;">Do want to Delete the Question?</p>
        <div class="resetBtn" style="display: flex;flex-direction: row-reverse;font-family: serif;padding-top: 10px;">
            <p-button label="Cancel" styleClass="p-button-danger"  (click)="cancel()"></p-button>&nbsp;
            <p-button label="Delete" styleClass="p-button-warning"   (click)="deleteQuestion()"></p-button>
        </div>
    </div>
</p-dialog>
<p-toast></p-toast>
