<p-card>
    <div>
        <label class="d-flex text-black mt-0">Select Your question :</label>
        <p-dropdown [options]="questionList"  optionLabel="label" optionValue="id" placeholder="Select a question" [disabled]="disabled"
        [(ngModel)]="surveyQuestion.id" class="m-2"  (onChange)="questionAdd($event)" [attr.is-select]="validateInput()"></p-dropdown>
        <div class="d-flex text-black mt-2">
            <label fullWidth>Select the answer type:</label>
        </div>
        <div class="ansTypeContainer">
            <div class="d-flex mt-2">
                <div class="justify-content-center " >
                    <p-radioButton  [(ngModel)]="surveyQuestion.answerType" [value]="1" [disabled]="disabled"
                        (click)="onChangeRadioBtn($event)" label="Single answer"  [attr.Radio-is-valid]="validateAnswerType()" (onClick)="onChangeRadioBtn($event)" name="{{surveyQuestion.id}}-answerType-{{surveyQuestion.sequenceNumber}}"></p-radioButton>&nbsp;
                    <p-radioButton [(ngModel)]="surveyQuestion.answerType" [value]="2" [disabled]="disabled"
                        (click)="onChangeRadioBtn($event)" label="Multi answer" [attr.Radio-is-valid]="validateAnswerType()" (onClick)="onChangeRadioBtn($event)" name="{{surveyQuestion.id}}-answerType-{{surveyQuestion.sequenceNumber}}"></p-radioButton>
                </div>
            </div>
            <div class="quesTemo">
                <div clas="option">
                    <app-option *ngFor="let que of surveyQuestion.options; let i= index" [optionNo]="i+1" [surveyQuestion]="surveyQuestion" [questionList]="questionList" [questionOption]="que" (notValidEvent)="notValidSurvey($event)" [disabled]="disabled"></app-option>
                </div>
                <p-button icon="pi pi-plus" label="AddOption" styleClass="p-button-raised" *ngIf="surveyQuestion.answerType != undefined" (click)="addOptionComponent()" class="d-flex mt-2" [disabled]="disabled"></p-button>
            </div>
        </div>
    </div>
</p-card>