<div class="row">
    <div class="col-md-12">
        <div class="card  text-center">
           <div class="card-header ">
                <div class="col">
                    <h5 style="font-family: sans-serif;color: darkolivegreen;">Create Survey</h5>
                </div>
           </div>
        <div class="card-body">
            <div class="row">
                <div  class="class=col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <app-question [questionList]="questionList" [surveyQuestion]="surveyQuestion" ></app-question>
                </div>
           </div>
        </div>
         <div class="card-footer" >
          <button pButton pRipple label="Save" class="p-button-success" (click)="addServey()" style="float: right;right: 3rem;padding: 0.65rem 1.3rem;"></button>
        </div> 
    </div>
</div>
<p-toast></p-toast>