<div class="row">
    <div class="col-md-12">
        <div class="card  text-center">
           <div class="card-header ">
                <div class="col-6">
                    <h5>Create Survey</h5>
                </div>
           </div>
        <div class="card-body">
            <div class="row">
                <div  class="class=col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <!-- <app-question></app-question> -->
                </div>
           </div>
        </div>
         <!-- <div class="card-footer">
            <div class="align-items-center row">
                <div class="offset-xl-9 col-xl-3 offset-lg-8 col-lg-4 offset-md-7 col-md-5 offset-sm-0 col-sm-12 surveyBtn">
                    <p-button label="Save" styleClass="p-button-primary"></p-button>
                    <p-button label="Cancel" styleClass="p-button-danger"></p-button> 
                </div>
            </div>
        </div>  -->
    </div>
</div>